# Nom du workflow (visible dans l’onglet "Actions" de GitHub)
name: GesStockApi C.I.

# Déclencheurs du workflow
on:
  # Le workflow se lance automatiquement :
  push:
    # Quand on pousse du code sur la branche "main" et sur la  branche "develop"
    branches: ["main", "develop"]
  pull_request:
    # Quand on ouvre une Pull Request vers "main" et vers "develop"
    branches: ["main", "develop"]

# Définition des jobs (un workflow peut contenir plusieurs jobs)
jobs:
  # Nom du job (identifiant interne)
  build:
    # Machine virtuelle utilisée par GitHub pour exécuter le job
    # ubuntu-latest = serveur Linux temporaire propre
    runs-on: ubuntu-latest

    # Étapes exécutées dans l’ordre
    steps:
      # 1 - récupérer ton code depuis le repository
      - name: Checkout repository
        uses: actions/checkout@v3
      # "uses" signifie qu’on utilise une action publique déjà existante
      # actions/checkout permet de cloner ton repo dans la machine virtuelle

      # 2 - Installer Java
      - name: Set up JDK 17
        uses: actions/setup-java@v3
        with:
          # Distribution Temurin (ancienne AdoptOpenJDK)
          distribution: "temurin"
          # Version Java à installer
          java-version: "17"
          # Active le cache pour les dépendances Maven (accélère les builds suivants)
          cache: maven
          # Cette étape installe Java 17 sur la machine Linux temporaire

      # 3 - Vérifier la version Java (option pédagogique)
      - name: Verify Java version
        run: java -version
      # "run" signifie qu’on exécute une commande shell Linux

      # 4 - Construire le projet et exécuter les tests
      - name: Build and Run Tests with Maven
        run: mvn clean verify
        # mvn clean :
        #   supprime le dossier target/ (ancien build)
        #
        # mvn verify :
        #   compile le projet
        #   exécute les tests unitaires
        #   vérifie que tout passe correctement
        #
        # Si un seul test échoue :
        #   le job échoue
        #   le workflow devient rouge
      - name: Upload the build artifact
        uses: actions/upload-artifact@v6.0.0
        with:
          # artifact name
          name: GesStock
          path: target/*.jar
          
  docker-build:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v3
      - name: Upload the build artifact
        uses: actions/download-artifact@v6.0.0
        with:
          # artifact name
          name: GesStock
          path: target/
          
      - name: Build Docker image
        run: docker build -t ges_stock_api:latest .
        # Cette étape construit une image Docker à partir du Dockerfile présent à la racine du projet
        # L’image est nommée "ges_stock_api" avec la tag "latest
      - name: Login to Docker Hub
        run: echo "${{ secrets.DOCKER_PASSWORD }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
        # Cette étape se connecte à Docker Hub en utilisant les identifiants stockés dans les secrets GitHub

      - name: Push Docker image to Docker Hub
        if: github.event_name == 'push' && github.ref == 'refs/heads/main'
        run: |
          IMAGE=${{ secrets.DOCKER_USERNAME }}/ges_stock_api
          SHA=${{ github.sha }}
          
          docker tag ges_stock_api:latest $IMAGE:latest
          docker tag ges_stock_api:latest $IMAGE:$SHA
          
          docker push $IMAGE:latest
          docker push $IMAGE:$SHA
          
        # Cette étape retague l’image Docker locale pour inclure le nom d’utilisateur Docker Hub
        # Cette étape pousse l’image Docker construite précédemment vers Docker Hub
        # Assure-toi que le nom de l’image inclut ton nom d’utilisateur Docker Hub, par exemple : "tonusername/ges_stock_api:latest"
